---
---

/* ------------ Core Style -------------- */

body
{
    font-family: Lato;
    color: #57565A;
}

.green
{
    color:#4C9689;
}

i
{
    text-indent: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 280px;
}


p
{
    font-style: italic;
    font-size: 17px;
    line-height: 27px;
}

img
{
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 2px;
}

pre
{
    border:none;
    width: 70%;

    /* Generic font style */
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19.2px;
    word-spacing: 0px;
    color:#777777;
}

.post-content li
{
    font-size: 17px;
    font-style: italic;
    line-height: 27px;
}

/* --------------- Sidebar --------------- */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 280px;
    width: 0;
    height: 100%;
    margin-left: -280px;
    overflow-y: auto;
    background: #483046;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -280px;
}

            /* --------------- Sidebar Nav --------------- */
.sidebar-nav {
    width: 270px;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-bottom: 30px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #AB9BA9;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #3E313C;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {

    text-decoration: none;
    background: #4C9689;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover { /* TBD */
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-list-name a { /* Force uppercase */
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.sidebar-nav > .sidebar-list-name a:hover { /* TBD */
    color: #fff;
    background: none;
}

    /* --------------- Profile Footer --------------- */

.profile
{
    height: 80px;
    background-color: #3A2736;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.sidebar-profile-container {
    position: absolute;
    top: 0;
    width: inherit;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    list-style: none;
}

.boldy a {
    font-size: 18px;
    font-weight: bold;
    color: white !important;
}

.sidebar-profile-container li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-profile-container li a {
    display: block;
    text-decoration: none;
    color: #AB9BA9;
}


    /* --------------- Social Bar --------------- */

.social-bar
{

    width: 60px;
    height: 100%;
    background-color: #2E202D;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    z-index: 10;
}

.social-icons
{
    list-style: none;
    
    font-size: 30px;
    line-height: 70px;
    margin-left: -40px;
}

.social-icons a
{
    color: #796E78;
}


/* --------------- Post Index -------------- */


.post-header
{
    margin-top:-10px;
}

.post-header h1
{
    margin-top: 0px;
    color:#2C2D30;
    font-weight: bold;
    font-size: 36px;
}

.post-header p
{
    color:#9F9FA7;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: -20px;
} 

.post-header hr
{
   /* Line: */
    border: 1px solid #E8E8E8;
    margin: 30px -35px 35px;
}

.post-container
{
    margin-top:60px;
}

.post-container ul
{
    list-style: none;
}

.post-container li
{
    float: left;
}

.post-container h2
{
    display: inline;
}

.post-meta
{
    color:#9E9EA6;
    font-size: 20px;
    font-weight: normal;
}

.post-link
{
    color:#555459;
    font-size: 20px;
    font-weight: bold;
}

.post-link:hover /* TBD */
{
    color:#555459;
    font-size: 20px;
    font-weight: bold;
}

.post-mark
{
    color:#82D2E1;
    font-size: 20px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 280px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

